body
	padding:
		top: 60px

// Well for editing forms under top submenu
.well
	// Override Bootstrap
	margin-top: 1.5em
	h4
		margin:
			top: 0px
	// End override
	&.well-edit
		background-color: $color-well-edit-bg
